{% load static custom_filters %}
<c-base title="Monthly log">
    <div class="flex-1 max-h-screen bg-tertiary">
        <div>
            <main class="flex-2 bg-tertiary">
                <c-top-navbar name="Monthly log"></c-top-navbar>
                <c-menu-tab></c-menu-tab>
                <div class="px-6 py-2 bg-tertiary">
                    <div class="grid flex-1 grid-cols-12 h-fit grid-rows-12">
                        <div 
                            hx-get="{% url 'monthly_log:monthly_log_main' %}"
                            hx-trigger="htmx:refreshTable"
                            class="col-span-full col-start-1 row-span-full row-start-1"
                            id="{{ target }}">
                            <c-components.table
                                :data="data" 
                                :columns="columns" 
                                :current_sort="data.current_filters_applied.sort_by"
                                :pagination="data.pagination" >
                            </c-components.table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</c-base>