{% load static custom_filters %}

    <thead class="bg-surface-light" id="hTableHead">
        <tr>
            {% if 'checkbox' in table_controls %}
                <th class="border-b border-secondary ps-6 py-4 text-left text-sm font-medium text-surface-dark">
                    <input type="checkbox"
                        class="peer cursor-pointer 
                        appearance-none border-2 checked:bg-primary text-primary
                        checked:border-primary transition-all hover:before:opacity-10
                        focus:ring-0 focus:ring-offset-0 focus:outline-none focus:shadow-none "
                        name="check_all_ids"
                        id="check_all_ids"
                        _="on click  
                        set value to ((<input[name='ids']:not(:checked)/>).length == 0)
                        repeat in <input[name='ids']/>
                            set it.checked to value
                            it.click() 
                        end">
                </th>
            {% endif %}
            {% for column in columns %}
                {% if not column.hidden %}
                    <th class="border-b border-secondary ps-6 py-4 text-left text-sm font-medium text-surface-dark text-nowrap">
                        <a href="#" class="w-full flex" style="justify-content: space-between;" 
                        hx-get="{{ list_url }}"
                        hx-target="{{ target }}"
                        hx-include="[name='limit'], [name='page'], [name='columns'], [name='search'], [name='sort'], [name='sorting']"
                        hx-vals='{"sort": "{{ column.name }}"}'>
                            {{ column.verbose_name.title }}
                            <span class="flex">{{ sorting|get_short_index:column.field_name|safe }}</span>
                        </a>
                    </th>
                {% endif %}
            {% endfor %}
            {% for x,y in widget_columns %}
                <th class="border-b border-secondary ps-6 py-4 text-left text-sm font-medium text-surface-dark">
                    {{ x }}
                </th>
            {% endfor %}
        </tr>
    </thead>