<!-- table_body_partial.html -->
{% for person in people %}
    <tr class="{% cycle 'bg-white' 'bg-gray-50' %} hover:bg-gray-100 transition-colors">
        <td class="px-6 py-4 text-gray-900 whitespace-nowrap">{{ person.name }}</td>
        <td class="px-6 py-4 text-gray-500 whitespace-nowrap">{{ person.email }}</td>
        <td class="px-6 py-4 text-gray-500 whitespace-nowrap">{{ person.age }}</td>
        <td class="px-6 py-4 text-gray-500 whitespace-nowrap">{{ person.job }}</td>
        <td class="px-6 py-4 text-gray-500 whitespace-nowrap">{{ person.city }}</td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="px-6 py-4 text-center text-gray-500">No data available</td>
    </tr>
{% endfor %}
