{% load static custom_filters i18n %}
<ul class="flex flex-wrap justify-content-space-around ps-2">
    {% for menu in menu_items %}
        <li class="me-2 flex-1 text-center border-b-4 border-gray-300 {% if menu.id == menu_id %} manage-menu-active font-medium text-primary border-primary rounded-t-lg active dark:text-primary dark:border-primary {% endif %}">
            <span hx-get="{{ menu.url }}" hx-headers='{"X-Leave-Plan-Menu": "menu_{{ menu.id }}"}' hx-trigger="click" hx-target="#popup_form" hx-swap="outerHTML"
               class="text-black pt-6 pb-1 border-b-2 border-transparent rounded-t-lg flex justify-center">
                {% trans menu.name %}
            </span>
        </li>
    {% endfor %}
</ul>

