{% load static i18n custom_filters %}
<div class="relative w-full flex justify-end pe-48 pb-10 pt-3">
    <div x-data="{ open: false, selected: '{{ selected_date }}', dateList: {{ date_list|tojson }} }">
        <!-- Dropdown Button -->
        <button @click="open = !open"
                class="w-56 px-4 py-2 text-left border rounded-md shadow-sm bg-surface-light text-surface-dark focus:outline-none focus:none flex items-center justify-between">
            <span x-text="dateList.find(d => d.id == selected)?.name || 'Select a date'"></span>
            <svg class="inline w-4 h-4"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </button>
        <!-- Dropdown Menu -->
        <div x-show="open"
             @click.away="open = false"
             x-transition
             class="absolute z-10 w-56 mt-2 bg-surface-light border rounded-md shadow-lg">
            <!--
                The form now has hx-trigger="change". This means that whenever a change event occurs 
                within the form (i.e. selecting a radio button), HTMX will automatically perform a GET request.
                The radio buttons are named 'filter_date' so that the resulting GET query string will include ?filter_date=yyyy-mm-dd
            -->
            <form class="py-2"
                  hx-get="{{ list_url }}?limit={{ per_page }}"
                  hx-target="#{{ target }}"
                  hx-trigger="change">
                {% for date in date_list %}
                <label class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100">
                    <input type="radio"
                           name="filter_date"
                           value="{{ date.id }}"
                           class="form-radio text-primary focus:ring-0"
                           @click="selected = '{{ date.id }}'; open = false"
                           :checked="selected === '{{ date.id }}'">
                    <span class="ml-2 text-gray-800">{% trans date.name %}</span>
                </label>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
