{% load static i18n %}
<div class="relative w-full flex justify-end pe-48 pb-10 pt-3">
    {% if show %}
    <div x-data="{ open: false, selected: '{{ show }}' }">
        <!-- Dropdown Button -->
        <button @click="open = !open"
                class="w-56 px-4 py-2 text-left border rounded-md shadow-sm bg-white text-surface-dark focus:outline-none focus:ring">
            <span x-text="selected === 'users' ? 'By Users' : 'By Applications'"></span>
            <svg class="inline w-4 h-4 justify-items-end mt-1"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </button>
        <!-- Dropdown Menu -->
        <div x-show="open"
             @click.away="open = false"
             x-transition
             class="absolute z-10 w-56 mt-2 bg-white border rounded-md shadow-lg">
            <!--
          The form now has hx-trigger="change". This means that whenever a change event occurs 
          within the form (i.e. selecting a radio button), HTMX will automatically perform a GET request.
          The radio buttons are named 'show' so that the resulting GET query string will include ?show=users or ?show=applications.
        -->
            <form class="py-2"
                  hx-get="{{ list_url }}?limit={{ per_page }}"
                  hx-target="#{{ target }}"
                  hx-trigger="change">
                <label class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100">
                    <input type="radio"
                           name="show"
                           value="users"
                           class="form-radio text-primary focus:ring-0"
                           @click="selected = 'users'; open = false"
                           :checked="selected === 'users'">
                    <span class="ml-2 text-gray-800">{% trans "By Users" %}</span>
                </label>
                <label class="flex items-center px-4 py-2 cursor-pointer hover:bg-gray-100">
                    <input type="radio"
                           name="show"
                           value="applications"
                           class="form-radio text-primary focus:ring-0"
                           @click="selected = 'applications'; open = false"
                           :checked="selected === 'applications'">
                    <span class="ml-2 text-gray-800">{% trans "By Applications" %}</span>
                </label>
            </form>
        </div>
    </div>
    {% endif %}
</div>
